@media all
{
    p
    {
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        padding: 10px 10px;
    }

    img
    {
        display: block;
        margin: left;
    }

    .p1{
        background-color: deeppink;
    }

    .div1{
        border-top: 2px solid chartreuse;
        border-left: 1px solid hotpink ;
        border-bottom: 5px solid purple;
        border-right: 3px solid crimson;

        margin: 10px 5px;
    }
}

@media screen 
{
    img
    {
        display: block;
        margin: auto;
        padding: 40px 40px 30px;
    }
}